{% extends "base.html" %}
{% block content %}
<h2>Information Form</h2>

<form action="/submit" method="post">
  <fieldset>
    <legend>Personal Details</legend>
    <label>Date: <input type="date" name="date"></label><br>
    <label>Name of Deceased: <input type="text" name="name_deceased"></label><br>
    <label>Address: <input type="text" name="address_deceased"></label><br>
    <label>Pick-Up Address: <input type="text" name="pickup_address"></label><br>
    <label>Date of Birth: <input type="date" name="dob"></label><br>
    <label>Date of Death: <input type="date" name="dod"></label><br>
    <label>Age: <input type="number" name="age"></label><br>
    <label>Executor Name: <input type="text" name="executor"></label><br>
    <label>Executor Address: <input type="text" name="executor_address"></label><br>
    <label>Phone: <input type="tel" name="phone"></label><br>
    <label>Mobile: <input type="tel" name="mobile"></label><br>
    <label>Email: <input type="email" name="email"></label>
  </fieldset>

  <fieldset>
    <legend>Service Options</legend>
    <label>VAD:
        <select name="vad">
        <option>yes</option>
        <option>no</option>
        <option selected>n/a</option>
        </select>
    </label><br>
    <label>Cremation:
        <select name="cremation">
        <option>yes</option>
        <option>no</option>
        <option selected>n/a</option>
        </select>
    </label><br>
    <label>Burial:
        <select name="burial">
        <option>yes</option>
        <option>no</option>
        <option selected>n/a</option>
        </select>
    </label><br>
    <label>Viewing:
        <select name="viewing">
        <option>yes</option>
        <option>no</option>
        <option selected>n/a</option>
        </select>
    </label><br>
    <label>Direct:
        <select name="direct">
        <option>yes</option>
        <option>no</option>
        <option selected>n/a</option>
        </select>
    </label>
    </fieldset>

    <fieldset>
        <legend>Collection Details</legend>
        <label>Who's Collecting: <input type="text" name="collector"></label><br>
        <label>Collection Date: <input type="date" name="collection_date"></label><br>
        <label>Time: <input type="time" name="collection_time"></label>
    </fieldset>

    <fieldset>
        <legend>Additional Notes</legend>
        <label>Notes:<br>
        <textarea name="notes" rows="5" cols="50" placeholder="Enter any additional notes here..."></textarea>
        </label>
    </fieldset>

    <button type="submit">Submit</button>
</form>
{% endblock %}