{% extends "base.html" %}
{% block content %}
<h2>Medical & Paperwork</h2>
<form method="POST" action="{{ url_for('form_papers', funeral_id=funeral_id) }}">
    <fieldset>
        <legend>Personal Details</legend>
        <label>Date: <input type="date" name="date"></label><br>
        <label>Name of Deceased: <input type="text" name="name_deceased"></label><br>
        <label>Pick-Up Address: <input type="text" name="pickup_address"></label><br>
        <label>Date of Birth: <input type="date" name="dob"></label><br>
        <label>Date of Death: <input type="date" name="dod"></label><br>
        <label>Age: <input type="number" name="age"></label><br>
        <label>Executor Name: <input type="text" name="executor"></label>
    </fieldset>

    <fieldset>
        <legend>Notes</legend>
        <textarea name="notes" rows="5" cols="50" placeholder="Enter notes here..."></textarea>
        </label>
    </fieldset>

    <button type="submit">Save Paperwork</button>
</form>
{% endblock %}